
$base-line-height: 54px;
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reversed {
  0% {
    transform: rotate(0deg);
    transform: scale(1);
  }

  50% {
    transform: rotate(-180deg);
    transform: scale(.5);
  }

  100% {
    transform: rotate(-360deg);
    transform: scale(1);
  }
}

@keyframes insinuating {
  0% {
    opacity: 0;
  }

  70% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}



%spinner-align {
  left: 50%;
  margin-left: -50%;
  margin-top: -50%;
  top: 50%;
}

.app-spinner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: $base-line-height;
}

.app-spinner__circle {
  align-items: center;
  animation: spin 1s linear 0s infinite;
  border: .25rem solid skyblue;
  border-bottom-color: transparent;
  border-radius: 50%;
  border-top-color: transparent;
  content: '';
  display: flex;
  height: $base-line-height;
  justify-content: center;
  position: relative;
  width: $base-line-height;

  &:after {
    animation: spin-reversed 2s ease-out 0s infinite;
    animation-direction: reverse;
    border: .25rem solid skyblue;
    border-bottom-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    content: '';
    display: block;
    height: $base-line-height / 2.5;
    width: $base-line-height / 2.5;
  }
}
